/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: black;
}

.fa-solid {
    color: var(--main-color);
    font-size: 19px;
}

.fa-location-dot {
    color: blue;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card img {
    object-fit: cover ;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav a {
    margin-left: 50px;
}

nav a:hover {
    border-top: solid #0065FC 3px;
    cursor: pointer;
    color: #0065FC;
    padding-top: 22%;
}

a {
    color: #242424;
    text-decoration: none;
}

#logo {
    width: 80px;
    height: 30px;
}

h1{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}

h4 {
    font-size: 19px;
    font-weight: normal;
    margin-top: 5px;
    padding-bottom: 20px;
}

h2{
    font-size: 20px;
}

/****** SECTION RECHERCHE ***********/

.section-search {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0%;
    width: 100%;

    margin: auto;
    position: relative;

}

.search1 {
    background-color: #F2F2F2;
    padding: 18px;
    border-radius: 20px 0px 0px 20px;
    align-self: center;
}

.fa-location-dot{
    color: black;
}

.search2 {
    display: flex;
    flex-direction: row;

       
    background-color: #FFFFFF;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border:1px solid #F2F2F2
}

input{
    border: none;
    outline: none;
    font-weight: bold;
    font-size: medium;
}


.search-button {
    position: relative;
    background-color: #0065FC;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    border: none;
}


/****** SECTION FILTRES ***********/

.filter-section{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.filter-choice {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 15px;
  }

.filter{
    font-size: 14px;
    font-weight: bold;
}

.filter-box{
    border: 3px solid #D9D9D9;
    border-radius: 30px;
    padding: 10px;
    list-style-type: none;
    float: left;
    width: 130px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.filter :hover {
    background-color: #DEEBFF ;
    border-radius: 30px;
}

.icone-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px
}

.fa-info{
    color: #0065FC;
    border: #F2F2F2 solid 1px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    height: 15px;
    width: 15px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 0px 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 30%;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 60%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 16px;
    white-space: nowrap;
    
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    
}

.hebergements .fa-star{
    font-size: 14px;
}

.show-more{
    padding-top: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 30%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires .fa-star{
    font-size: 12px;
}

/****** Activités ***********/

.activities-title{
    padding-top: 50px;
    margin-left: 30px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-left: 20px;
    height: 390px;

}

.card-box{
    display: flex;
    flex-direction: column;
}

.activities-place {
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
}

.activities .card {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 33px;
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
   
}

.activities img {
    width: 100%;
    height: 390px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}

.activities .card-title {
    padding: 20px;
    background-color: white;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}